body {
    background-color: #000;
}

input[type="text"] {
    background: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    transition: border-color .3s ease-in-out;
    margin-right: 5px;
}

input[type="text"]:focus {
    border-color: #ffdb4d;
    outline: none;
}

button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: border-color .3s ease-in-out;
}

button:focus {
    border-color: #ffdb4d;
    outline: none;
}

.container {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form {
    width: 50%;
}

.form-row {
    display: flex; 
    justify-content: center;
}

.result {
    width: 50%;
    text-align: center;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255, .9);
}

.overlay.isOpen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.popup {
    margin: auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    min-width: 500px;
    min-height: 300px;
}
